body {
     background: rgb(15, 15, 15) no-repeat fixed center;
     font-family: 'Didact Gothic', sans-serif;
}

p {
     color: white;
}

#container{
     display: inline-block;
     border: 2px solid gray;
}

.input{
     vertical-align:top;
     padding-top: 50px;
     padding-left: 50px;
     position: relative;
     display: inline-block;
}

#boxX,#boxY{ 
     padding: 5px;
     width: 150px;
     background-color: rgb(50, 50, 50);
     border: 1px solid gray;
     color: white;
}

#buttons{
     padding-left: 35px;
}

#button1, #button2{
     width: 75px;
     border: 1px solid gray;
     padding: 4px;
     color: white;
     background-color: rgb(50, 50, 50);
}

#instructions{
     padding-top: 20px;
}